<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <style>
      .clickable li {
        cursor: pointer;
      }
      .clickable li:hover span {
        background: #FFF880;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>

    <div class="container" id="app">
      <div class="row">
        <div class="col-sm">

          <div id="app">

            <h1>{{ message }}</h1>
            <p><code>p</code> is a block-level tag (new line)</p>
            <p><code>strong</code> is an <strong>inline</strong> element (same line)</p>
            <p>Counter: {{ counter }}</p>
            <a class="btn btn-info" v-on:click="changeText">Click me</a>
            <a class="btn btn-warning" v-on:click="increment">Count more</a>
            <div v-if="tooManyClicks" class="alert alert-warning mt-4">
              STOP CLICKING
            </div>
            <p>We're going to do a few things in our application:</p>
            <ul class="clickable">
              <li v-for="name in names" v-on:click="sayHello(name)"><span>{{ name }}</span></li>
            </ul>
            <ul>
              <li>Have buttons to show/hide a message</li>
              <li>Have a button to change our data</li>
              <li>Display a list of pies</li>
              <li>Display how many pies we have</li>
              <li>Filter our pies</li>
              <li>Click a pie to see more information about it</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- This is where we code up our application -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello world',
          counter: 0,
          names: ['Smushface', 'Boy Abby', 'Stumpy', 'Clementine', 'Ringleader', 'Kayla', 'Victoria', 'Ginger', 'Instant Pot']
        },
        computed: {
          tooManyClicks: function () {
            return this.counter > 4
          }
        },
        methods: {
          changeText: function () {
            app.message = "You clicked the button"
          },
          increment: function () {
            app.counter = app.counter + 1
          },
          sayHello: function (name) {
            app.message = "Hello " + name
          }
        }
      })
    </script>
  </body>
</html>